<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Emellink.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Emeltal.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1608DB672B151B4F00FFFB09</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>16C58DD92B34701200006CC2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>16F9EEFA2B3D528300AD56CC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>16F9EEFF2B3D528300AD56CC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
