:root {
    color-scheme: light dark;
    color: CanvasText;
    font-family: -apple-system;
    background: transparent;
}

body {
    margin: 0pt;
}

h4 {
    border-color: #FFFFFF19;
    border-width: 2pt;
    border-bottom-style: solid;
    display: block;

    font-stretch: 50%;
    font-size: 134%;

    padding: 0;
    padding-bottom: 9pt;

    margin-top: 30pt;
    margin-bottom: -3pt;
}

@supports (-webkit-overflow-scrolling: touch) {
    body {
        margin-left: 10pt;
        margin-right: 10pt;
    }
    h4 {
        border-color: CanvasText;
    }
}

blockquote {
    font-size: small;
    margin: 0;
    background: #FFFFFF19;
    padding-left: 12pt;
    padding-right: 12pt;
    padding-top: 2pt;
    padding-bottom: 3pt;
    border-radius: 15pt;
}

pre code {
    font-size: 110%;
    background: Canvas;
    border-radius: 8pt;
    display: block;
}

p > code,
li > code,
dd > code,
td > code {
    font-weight: bold;
    font-size: large;
    opacity: 70%;
    baseline-shift: 0.1;
}

think {
    font-size: small;
    opacity: 60%;
    margin-top: 14pt;
    margin-bottom: 8pt;
    display: block;
}
